<!-- Beginning of dishdetail.html -->

    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>                
                
                <div class="media-left media-middle">
                  <img class="media-object img-thumbnail"
                       data-ng-src={{dish.image}} alt="Uthapizza" />
                </div>
            <div class="media-body">
              <h2 class="media-heading">{{dish.name}}
                <span class="label label-danger">{{dish.label}}</span>
                <span class="badge">{{dish.price | currency}}</span>
              </h2>
              <p>{{dish.description}}</p>
            </div>
            </div>
            <div class="col-xs-11 col-xs-offset-1">
                <h3>Customer Comments
                  <small>Sort By:
                    <input type="text" data-ng-model="dynOrder" />
                  </small>
                </h3>
                <blockquote data-ng-repeat="comment in dish.comments | orderBy:dynOrder">
                  <p>{{comment.rating}} Stars</p>
                  <p>{{comment.comment}}</p>
                  <footer>
                    {{comment.author}}, {{comment.date | date:'MMM dd, yyyy'}}
                  </footer>
                </blockquote>            
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                    <ul class="list-unstyled">
                        
                        <blockquote ng-show="!commentForm.$invalid && !commentForm.comment.$pristine">
                          <p>{{commentObj.rating}} Stars</p>
                          <p>{{commentObj.comment}}</p>
                          <footer>
                            {{commentObj.author}}, {{commentObj.date | date:'MMM dd, yyyy'}}
                          </footer>
                        </blockquote>                           
                        
                    </ul>
                <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                    <div class="form-group" 
                         ng-class="{ 'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                        <label for="author" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name"
                            ng-model="commentObj.author" required>
                        
                        <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">
                            Your name is required.
                        </span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="feedback" class="col-sm-2 control-label">Rating</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                              <input type="radio" name="rating" ng-model="commentObj.rating" id="rating1" value="1"> 1
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="rating" ng-model="commentObj.rating" id="rating2" value="2"> 2
                            </label>
                            <label class="radio-inline">
                              <input type="radio"  name="rating" ng-model="commentObj.rating" id="rating3" value="3"> 3
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="rating" ng-model="commentObj.rating" id="rating4" value="4"> 4
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="rating"  ng-model="commentObj.rating" id="rating5" value="5"> 5
                            </label>                            
                        </div>
                    </div>                    
                    
                    <div class="form-group"
                          ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                        <label for="feedback" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="12" ng-model="commentObj.comment" id="comment" name="comment" required>
                            </textarea>
                            <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">
                                Your comment is required.
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                             <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comments</button>
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>

<!-- End of dishdetail.html -->